<template>
  <Layout>
    <!-- TODO: Considerar adicionar icones -->
    <Banner
      title="Atas"
      description="A ata é um registro de 
        todas os acontecimentos e decições de uma reunião de um
        grupo de pessoas. Ela deve ser redigida pelo secretário
        durante ou após a reunião e deve ser aprovada em próxima
        reunião."
    />

    <DocRenderer template="ata" :doc-data="ata" />

    <DocsForm>
      <!-- TODO: Campo personalizado para origem -->
      <text-input v-model="ata.senderFull" placeholder="Origem" />
      <text-input v-model="ata.senderAbrv" placeholder="Origem Sigla" />
      <serial-input v-model="ata.serial" placeholder="Serial" />
      <!-- TODO: Auto preencher data, campo selecionavel com calendario -->
      <text-input v-model="ata.data" placeholder="Data" />
      <text-input v-model="ata.titulo" placeholder="Titulo" />
      <!-- TODO Varias linhas -->
      <text-body-input v-model="ata.texto" placeholder="texto" />
      <text-input v-model="ata.secretario" placeholder="secretario" />
      <text-input v-model="ata.presidente" placeholder="presidente" />
    </DocsForm>
  </Layout>
</template>

<script>
import Banner from "~/components/molecules/Banner.vue";
import DocRenderer from "~/components/organisms/DocRenderer.vue";
import DocsForm from "../components/atoms/DocsForm.vue";
import TextInput from "../components/atoms/TextInput.vue";
import TextBodyInput from "../components/atoms/TextBodyInput.vue";
import SerialInput from "../components/atoms/SerialInput.vue";

// TODO: Verificar se todos estão preenchidos

export default {
  metaInfo: {
    title: "Criar Ata"
  },
  components: {
    Banner,
    DocRenderer,
    DocsForm,
    TextInput,
    TextBodyInput,
    SerialInput
  },
  data: () => {
    return {
      ata: {
        senderFull: "",
        senderAbrv: "",
        serial: `00/${new Date().getFullYear()}`,
        data: "",
        titulo: "",
        texto: "",
        secretario: "",
        presidente: ""
      }
    };
  }
};
</script>

<style></style>
