<template>
  <Layout>
    <HomeBanner />
    <HomeGridOp />
  </Layout>
</template>

<script>
import HomeBanner from "~/components/organisms/HomeBanner.vue";
import HomeGridOp from "~/components/organisms/HomeGridOp.vue";

export default {
  metaInfo: {
    title: "Home"
  },
  components: {
    HomeGridOp,
    HomeBanner
  }
};
</script>
