<template>
  <!-- TODO Update storybook -->
  <p class="text-body">{{ text }}</p>
</template>

<script>
export default {
  name: "Description",
  data() {
    return {};
  },
  props: ["text"]
};
</script>
