<template>
    <div class="">
        <h4>Preencha para gerrar</h4>
        <div class="p-3 border border-blue-200">
            <slot />
        </div>
    </div>
</template>

<script>
export default {
    name: "DocsForm"
}
</script>