<template>
  <a :href="to" class="group">
    <Icon :svg="svg" class="w-8 h-8 text-body group-hover:text-blue3" />
  </a>
</template>

<script>
import Icon from "~/components/atoms/Icon.vue";

export default {
  name: "IconBtn",
  data() {
    return {};
  },
  props: ["svg", "to"],
  components: {
    Icon
  }
};
</script>
