<template>
  <!-- TODO Make a mark down file explain how it works -->
  <!-- TODO Make a storybook file for this -->
  <svg class="fill-current stroke-current stroke-0" viewBox="0 0 50 50">
    <g>
      <path :d="svg" />
    </g>
  </svg>
</template>

<script>
export default {
  name: "Icon",
  data() {
    return {};
  },
  props: ["svg"]
};
</script>
