<template>
  <!-- TODO Make a storybook file for this -->
  <g-link v-bind:to="path" :title="'Ir para ' + text">{{ text }}</g-link>
</template>

<script>
export default {
  name: "NavBtn",
  data() {
    return {};
  },
  props: ["text", "path"]
};
</script>
