<template>
  <div class="flex">
    <input
      type="text"
      class="py-1 px-3 w-12 items-center justify-center border border-gray-500 rounded-l text-right"
      v-bind:value="Num"
      @input="changeNum"
    />
    <div
      class="flex w-6 items-center justify-center border-t border-b bg-gray-100 border-gray-500 font-bold text-lg"
    >
      /
    </div>
    <input
      type="text"
      class="py-1 px-3 w-16 border border-gray-500 rounded-r"
      :value="Year"
      @input="changeYear"
    />
  </div>
</template>

<script>
export default {
    props: [
        'value'
    ],
    computed: {
        Num() {
            return this.value.split('/')[0]
        },
        Year() {
            return this.value.split('/')[1]
        }
    },
    methods: {
        changeNum($event) {
            this.$emit('input', `${$event.target.value}/${this.Year}`)
        },
        changeYear($event) {
            this.$emit('input', `${this.Num}/${$event.target.value}`)
        },
    }
};
</script>

<style scoped>
</style>