<template>
    <div class="my-2">
            <input 
            type="text" 
            v-bind:value="value"
            v-on:input="$emit('input', $event.target.value)" 
            v-bind:placeholder="placeholder"
            class="py-1 px-3 border border-gray-500 hover:border-blue-800 rounded-md"
            >    
    </div>
</template>

<script>
export default {
    props: ['value','label', 'placeholder'],
    name: "TextInput"
}
</script>

<style scoped>

</style>