<template>
    <div class="my-2">
            <span class="text-gray-500">{{placeholder}}:</span>
            <contenteditable
            tag="div"
            v-bind:value="value"
            v-on:input="$emit('input', $event)"
            contenteditable
            :noNL="false"
            :noHTML="true"
            class="py-1 px-3 border border-gray-500 hover:border-blue-800 rounded-md"
            />
    </div>
</template>

<script>

export default {
    props: ['value', 'placeholder', 'label'],
    name: "TextBodyInput",
}
</script>

<style scoped>

</style>