<template>
  <div class="grid grid-cols-2 mb-3 gap-x-6">
    <div class="z-10 block h-auto max-w-lg animate__animated animate__fadeInUp">
      <Title :text="title" class="font-semibold text-tit title text-title" />
    </div>
    <div class="z-10 block max-w-xl pt-4">
      <Description :text="description" class="text-descBa" />
    </div>
  </div>
</template>

<script>
import Title from "~/components/atoms/Title.vue";
import Description from "~/components/atoms/Description.vue";

export default {
  name: "Banner",
  data() {
    return {};
  },
  props: ["title", "description"],
  components: {
    Title,
    Description
  }
};
</script>
