<template>
  <!-- TODO Correct the visual bug of transition frames -->
  <!-- TODO Update the storybook file -->

  <div
    class="h-56 p-6 pb-8 my-4 duration-700 ease-in-out transform group border-t-5/2 bg-blue2 w-96 border-blue3 hover:scale-105"
  >
    <g-link
      class="flex flex-col duration-700 ease-in-out group-hover:items-center"
      :to="link"
    >
      <Icon
        :svg="svg"
        class="text-blue4 pb-2.5 w-14 h-14 group-hover:w-32 group-hover:h-32 duration-700 ease-in-out"
      />
      <Title :text="name" class="pb-4 text-2xl text-title" />
      <Description
        :text="description"
        class="h-full text-desc w-80 group-hover:invisible group-hover:w-0 group-hover:h-0"
      />
    </g-link>
  </div>
</template>

<script>
import Icon from "~/components/atoms/Icon.vue";
import Title from "~/components/atoms/Title.vue";
import Description from "~/components/atoms/Description.vue";

export default {
  props: ["name", "description", "link", "svg"],
  name: "docOption",
  data() {
    return {};
  },
  components: {
    Icon,
    Title,
    Description
  }
};
</script>
