<template>
  <div class="flex flex-row space-x-20">
    <div class="block w-1/3">
      <Title text="Sobre" class="pb-4 text-2xl text-body" />
      <Description
        text="Seja bem vindo ao Gerador de Documentos do Grêmio!
      Este sistema gera documentos formatados para o grêmio estudantil Vinicius de Moraes.Escolha qual tipo de documento eu devo fazer"
        class="text-sm"
      />
    </div>
    <div>
      <Title text="Acesso Rápido" class="pb-4 text-2xl text-body" />
      <div class="flex flex-col space-y-1">
        <NavBtn
          text="Home"
          path="/"
          class="text-body hover:text-blue3 hover:underline"
        />
        <NavBtn
          text="Sobre"
          path="/about/"
          class="text-body hover:text-blue3 hover:underline"
        />
      </div>
    </div>
    <div>
      <Title text="Documentos" class="pb-4 text-2xl text-body" />
      <div>
        <NavBtn
          text="Atas"
          path="/ata"
          class="text-body hover:text-blue3 hover:underline"
        />
      </div>
    </div>
  </div>
</template>

<script>
import NavBtn from "~/components/atoms/NavButton.vue";
import Title from "~/components/atoms/Title.vue";
import Description from "~/components/atoms/Description.vue";

export default {
  name: "FooterBtn",
  data() {
    return {};
  },
  props: [],
  components: {
    NavBtn,
    Title,
    Description
  }
};
</script>
