<template>
  <nav
    class="fixed z-20 inline-flex w-screen pt-6 pl-20 pb-7 opacity-95 bg-blue1 space-x-11"
  >
    <NavBtn text="Home" path="/" class="text-2xl text-title hover:text-body" />
    <NavBtn
      text="Sobre"
      path="/about/"
      class="text-2xl text-title hover:text-body"
    />
    <NavBtn
      text="Atas"
      path="/ata"
      class="text-2xl text-title hover:text-body"
    />
  </nav>
</template>

<script>
import NavBtn from "~/components/atoms/NavButton.vue";

export default {
  name: "NavBar",
  data() {
    return {};
  },
  components: {
    NavBtn
  }
};
</script>
