<template>
  <header class="pb-44">
    <NavBar />
  </header>
</template>

<script>
import NavBar from "~/components/molecules/NavBar.vue";

export default {
  name: "DefaultHead",
  data() {
    return {};
  },
  components: {
    NavBar
  }
};
</script>
