<template>
  <div class="relative z-20 block">
    <div class="flex flex-col w-full px-12 pt-20 pb-4 bg-blue2 space-y-14">
      <FooterBtn />
      <div class="flex flex-row pt-4 border-t-1 border-title">
        <div class="w-full text-body">
          Ícones feitos por
          <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
          <a href="https://www.flaticon.com/br/" title="Flaticon"
            >www.flaticon.com</a
          >
        </div>
        <FooterIcons />
      </div>
    </div>
  </div>
</template>

<script>
import FooterIcons from "~/components/molecules/FooterIcons.vue";
import FooterBtn from "~/components/molecules/FooterButtons.vue";

export default {
  name: "DefaultFooter",
  data() {
    return {};
  },
  props: [],
  components: {
    FooterIcons,
    FooterBtn
  }
};
</script>
