<template>
  <div class="px-3 py-2 border border-blue-300 rounded-md">
    <button
      class="px-3 py-1 text-blue-700 bg-white border border-blue-700 rounded-full shadow-md border-full hover:bg-blue-200 hover:text-gray-900"
      :class="{'opacity-40 hover:bg-white': !isReady}"
      @click="compile"
      
    >
      <!-- TODO: Mostrar um spinner quando não isReady -->
      {{btnText}}
      
    </button>

    <!-- TODO: Importar JSON -->
    <!-- TODO: Exportar JSON -->
    <!-- TODO: Opções avancadas, como escolher a engine, ou adicionar pacotes a mais para incluir -->
    
    <!-- Opções avançadas -->
    <div class="">
      <!-- TODO Estilo nos botoes -->
      <!-- TODO Seta pra cima e pra baixo como icone -->
      <button v-if="!mostraOpcoesAvancadas" @click="mostraOpcoesAvancadas = true">
        Mostrar opções avançadas
      </button>
      <button v-if="mostraOpcoesAvancadas" @click="mostraOpcoesAvancadas = false">
        Esconder opções avançadas
      </button>
      <div class="border rounded" v-if="mostraOpcoesAvancadas">
        <div class="flex">
          <input class="m-2" type="checkbox" v-model="useLatex">
          <span class="p-2">Usar Latex</span>
        </div>
      </div>
    </div>

    <!-- Resultados  -->
    <div>
      <div v-if="generator.status == STATUS_RUNNING">
        <!-- TODO: Mostrar um spinner -->
        <p>Compilando documento...</p>
        <span>Isso pode demorar alguns minutos</span>
      </div>

      <div v-if="generator.status == STATUS_SUCCESS">
        <p>Documento Gerrado com successo em {{generator.result.past_time}}ms!</p>
        <!-- TODO: Abrir em nova aba -->
        <a v-bind:href="generator.result.urlPdf" class="text-blue-700"
          >Abrir documento</a
        >

        <!-- Exibir botao para exibir os logs, e somente abrir quando necessario -->
        <p>Logs:</p>
        <!-- TODO: Deixar bonito e destacar com cores dependendo do tipo -->
        <code class="bg-yellow-300">
          <p v-bind:key="idx" v-for="(err, idx) in generator.result.errors">
            {{ err.message }}
          </p>
        </code>
      </div>

      <div v-if="generator.status == STATUS_ERROR">
        <p>Houve um erro na hora de gerrar o seu pdf.</p>
        <!-- TODO: Deixar bonito e destacar com cores dependendo do tipo -->
        <code>
          <p v-bind:key="idx" v-for="(err, idx) in generator.result.errors">
            {{ err.message }}
          </p>
        </code>
      </div>
    </div>
  </div>
</template>

<script>
import latexService from '@/services/latexCompiler'
import {getTemplate} from '@/services/getFiles'
import dots from "dot"

const STATUS_INIT = 'init';
const STATUS_READY = 'ready';
const STATUS_RUNNING = 'running';
const STATUS_ERROR = 'error';
const STATUS_SUCCESS = 'success';

var templateFn;





function sanitzeStr(text) {
  // \ → \textbackslash{} (note the empty group!)
  // { → \{
  // } → \}
  // $ → \$
  // & → \&
  // # → \#
  // ^ → \textasciicircum{} (requires the textcomp package)
  // _ → \_
  // ~ → \textasciitilde{}
  // % → \%
  const BACKSLASH = '\\'
  const REPLACE_MAP = {
    '\\': BACKSLASH + 'textbackslash{}',
    '{': BACKSLASH + '{',
    '}': BACKSLASH + '}',
    '$': BACKSLASH + '$',
    '&': BACKSLASH + '&',
    '#': BACKSLASH + '#',
    '^': BACKSLASH + 'textasciicircum{}',
    '_': BACKSLASH + "_",
    '~': BACKSLASH + 'textasciitilde{}',
    '%': BACKSLASH + '%',
  }
  const reg = /[\\\{\}$#^_~%&]/g
  return text.replace(reg, (match) => (REPLACE_MAP[match]))
}

function sanitize(data) {
  if (!data) return {};
  if (typeof data === 'object')
  {
    var newData = {};
    for(var key in data){
      newData[key] = sanitize(data[key])
    }
    return newData
  }
  if (typeof data === 'string')
  {
    return sanitzeStr(data)
  }
}

export default {
  name: "DocRenderer",
  data() {
    return { 
      generator: { result: null, status: STATUS_INIT },
      mostraOpcoesAvancadas: false,
      useLatex: false,
      };
  },
  props: {
    template: {
      type: String,
    },
    docData: {
      type: Object
    }
  },
  methods: {
    compile: function () {
      if (!this.isReady){
        console.error("Not Ready Yet!")
        return
      }
      this.generator.status = STATUS_RUNNING;
      var newData;
      if (!this.useLatex) {
        newData = sanitize(this.docData)
      } else {
        newData = this.docData;
      }
      console.log(newData)
      // Use the data on the template
      const latex = templateFn(newData)
      
      // Starts compilation
      latexService.compile(latex).then((result) => {
        this.generator.result = result;
        if (result.status == 0) {
          this.generator.status = STATUS_SUCCESS;
        } else {
          this.generator.status = STATUS_ERROR;
        }
      }).catch((error) => {
        this.generator.status = STATUS_ERROR;
        if (!this.generator.result) this.generator.result = {errors: []}
        this.generator.result.errors.push({message:error})
      });
    },
  },
  computed: {
    isReady: function() {
      return (
          this.generator.status == STATUS_READY 
          || this.generator.status == STATUS_SUCCESS 
          || this.generator.status == STATUS_ERROR
        )
    },
    btnText: function() {
      if (this.isReady){
        return "Gerrar PDF"
      }
      if (this.generator.status === STATUS_RUNNING) {
        return "Compilando..."
      }
      if (this.generator.status === STATUS_INIT) {
        return "Inicializando Engine..."
      }
      return "WHAT!"
    }
  },
  beforeDestroy() {
    latexService.closeWorker()
  },
  created() {
    this.STATUS_INIT = STATUS_INIT;
    this.STATUS_READY = STATUS_READY;
    this.STATUS_RUNNING = STATUS_RUNNING;
    this.STATUS_ERROR = STATUS_ERROR;
    this.STATUS_SUCCESS = STATUS_SUCCESS;
    latexService.init().then(() => {
      console.log("Ready to render new docs!")
      this.generator.status = STATUS_READY;
    });
    // Dots Template Generation
    dots.templateSettings = {
      evaluate:    /\{\:\{([\s\S]+?)\}\}/g,
      interpolate: /\{\:\{=([\s\S]+?)\}\}/g,
      encode:      /\{\:\{!([\s\S]+?)\}\}/g,
      use:         /\{\:\{#([\s\S]+?)\}\}/g,
      define:      /\{\:\{##\s*([\w\.$]+)\s*(\:|=)([\s\S]+?)#\}\}/g,
      conditional: /\{\:\{\?(\?)?\s*([\s\S]*?)\s*\}\}/g,
      iterate:     /\{\:\{~\s*(?:\}\}|([\s\S]+?)\s*\:\s*([\w$]+)\s*(?:\:\s*([\w$]+))?\s*\}\})/g,
      varname: 'it',
      strip: false,
      append: true,
      selfcontained: false
    };
    getTemplate(this.template).then((tex) => {
      templateFn = dots.template(tex)
    })
  },
};
</script>

<style scoped></style>
