<template>
  <div class="relative">
    <g-image
      src="~/images/gremioIcons/icon.png"
      width="140"
      height="136"
      quality="100"
      class="pb-12 animate__animated animate__fadeInUp"
    />
    <img
      src="../../images/gremioIcons/bwIcon.png"
      class="absolute z-0 block w-7/12 transform select-none translate-x-57/10 2xl:translate-x-2/4 -translate-y-1/3 opacity-5"
    />
    <Banner
      title="Gerador de Documentos"
      description="Seja bem vindo ao Gerador de Documentos do Grêmio!
      Este sistema gera documentos formatados para o grêmio estudantil Vinicius de Moraes.Escolha qual tipo de documento eu devo fazer"
      class="pb-24"
    />
  </div>
</template>

<script>
import Banner from "~/components/molecules/Banner.vue";

export default {
  name: "HomeBanner",
  data() {
    return {};
  },
  components: {
    Banner,
  },
};
</script>
