<template>
  <!-- TODO Start the responsive desing -->
  <div class="flex flex-col w-full h-full space-y-32 font-serif break-words">
    <div class="flex-grow flex-shrink-0">
      <DefaultHead />
      <div class="px-6 lg:px-20 2xl:mx-32">
        <slot />
      </div>
    </div>
    <DefaultFooter class="flex-shrink-0" />
  </div>
</template>

<script>
import DefaultFooter from "~/components/organisms/DefaultFooter.vue";
import DefaultHead from "~/components/organisms/DefaultHeader.vue";

export default {
  components: {
    DefaultHead,
    DefaultFooter
  }
};
</script>
